@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


body {
  background-color: rgb(32, 32, 32);
}
/* Tailwind Styles */
.sign_out_btn {
  @apply md:w-36 w-28 gap-4 md:h-14 h-8 rounded-full bg-orange-500 py-1.5 px-5 text-stone-200 hover:text-orange-500 hover:font-extrabold  hover:bg-white md:text-base text-xs font-bold transition-all text-center font-inter flex items-center justify-center;
}

.sign_in_btn {
  @apply md:w-36 w-28 gap-4 md:h-14 h-8 rounded-full bg-orange-500 text-white py-1.5 px-5 hover:text-orange-500 hover:bg-stone-100 hover:font-extrabold md:text-base text-xs font-bold transition-all text-center font-inter flex items-center justify-center;
}

.desc {
  @apply lg:text-lg text-base text-center text-gray-500 font-inter font-semibold py-6;
}

.head_text {
  @apply text-black font-extrabold lg:text-6xl text-4xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-amber-500 bg-clip-text text-transparent;;
}

.head_title {
  @apply text-slate-200 font-inter font-semibold text-3xl sm:text-5xl;
  line-height: 3.5rem;
}

.error {
  @apply bg-red-500 border-red-700 border text-red-800 text-base font-bold p-3;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-zinc-200 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

/* Form Component */
.form_input {
  @apply w-full flex rounded-2xl mt-2 p-3 text-sm text-orange-500 bg-stone-800 outline-1;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


.search-cuisine__input {
  @apply w-[18rem] h-14 pl-6 p-4 rounded-full max-sm:rounded-full bg-slate-100 outline-none cursor-pointer text-base font-semibold;
}

.search-cuisine__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}

.search-cuisine__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.recipe_card-title {
  @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/100 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-white p-4;
}